/*navbar-brand*/

.navbar-brand a {
    background: url(../dis/Pagepro-Logo.png) no-repeat;
    width: 140px;
    height: 57px;
    display: block;
}


/*navbar-brand end*/


/*navbar*/

nav {
    padding: 3.125em 0 3.125em 0;
}

.nav {
    padding: 1.875em 0 0 0;
}

.nav li a {
    color: #000;
    display: block;
    padding-bottom: 0;
    padding-top: 0;
    font-weight: 500;
    height: 30px;
    left: 0;
    font-size: 15px;
}

.nav li a:hover {
    background: none;
    border-bottom: 1px solid #000;
    overflow: hidden;
}


/*navbar end*/


/*header*/

header {
    background: url(../dis/Header-Image.png) no-repeat 0px 0px;
    width: 100%;
    height: 550px;
    background-size: 100%;
    background-position: center;
}


/*header end*/


/*all class*/

.section-headline {
    padding: 0 0 3.125em 0;
}


/*all class end*/


/*first section*/

#first {
    padding: 5.000em 0 5.000em 0;
}


/*first section end*/


/*second section*/

#second {
    padding: 0 0 5.000em 0;
}

.project-img img {
    width: 100%;
}

.project-description span {
    cursor: pointer;
}

.arrow {
    width: 20px;
    height: 1px;
    background: #000;
    display: inline-block;
    position: relative;
    bottom: 4px;
    left: 7px;
}

.arrow:after {
    content: ">";
    position: absolute;
    bottom: 0;
    left: 14px;
    top: -11px;
}


/*second section end*/


/*footer*/

footer {
    margin: 0 4.375em 4.375em 4.375em;
    border-top: 1px solid grey;
}

.social-btns li {
    float: left;
    list-style: none;
    text-decoration: none;
    margin: 5px;
}

.social-btns li a {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background: grey;
    padding: 0.6em;
}

.fa {
    color: #fff;
}

.fa:hover {
    color: #000;
    text-decoration: none;
}

.padding-sm {
    padding-top: 1.563em;
}


/*footer end*/
